div.navBar-bg {
    background: url(assets/header.jpg) no-repeat;
    background-size: cover;
}

i.material-icons {
    background: #8e8588;
    color: #fff;
    border-radius: 4px;
    width: 7%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 26px;
}

a.waves-effect.waves-light.btn-large.black.card-buttons {
    border-radius: 10px;
    margin-top: 16px;
}
.btn:hov

div ul.letter li a{
    color: #fff;
}

.nav-container {
    background-color: #fff;
    width: fit-content;
    height: auto;
}

.title-wrapper {
    display: flex;  
    flex-direction: column;
}

.title-wrapper h1 {
    align-self: center;
    margin: 0;
}
    
.title-wrapper h3  {
    align-self: center;
    color: #8e8588;
    font-size: 1.3em;
    margin: 0 0 32px 0;
}

.pc-wrapper {
    max-width: 60%;
    justify-content: center;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

nav ul.right a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1em;
    color: #8e8588;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav ul.right a:hover {
    color: #fff;
}

.cards-title{
    font-size: 1.7em;
    margin-left: 14px;
    font-weight: 500;
}

.card.card-wrapper {
    box-shadow: none;
}

a.waves-effect.waves-light.btn-large.black.card-buttons{
    border-radius: 10px;
}

.card .card-image img.cards-images {
    border-radius: 10px;
}

.card .card-content p {
    text-align: left;
}

.line-division{
    width: 100%;
    height: 1px;
    background: #8e858854;
    margin: 80px 0 100px 0;
}

.card .card-content {
padding: 24px 0!important;
}

.links-description{
    color: #ff0000;
}

img.cards-images.information-card {
    margin: 35px 0;
}

h2.title-card-information {
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 0;
}

h4.subtitle-card-information {
    font-size: 0.9em;
}

.title-section-links{
   font-weight: bold;
   margin-bottom: 29px;
   font-size: 2em;
   margin-top: 0;
}

.subtitle-section-links{
  font-size: 0.9em;  
}

.links-section-three{
 color: #ff0000;
 line-height: 34px;
 text-decoration: underline;
}


@media only screen and (min-width: 1024px) and (max-width: 1600px) {

    div.navBar-bg {
        background: url(assets/header.jpg) no-repeat;
        background-size: cover;
        padding-bottom: 232px;
        padding-top: 110px;
    }

    .cards-title {
        font-size: 2.5em;
        margin-left: 14px;
        font-weight: 500;
    }
} 



@media only screen and (max-width: 767px) {

    div.navBar-bg {
    background: url(assets/header.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 94px;;
    }

    .title-wrapper h1 {
    font-size: 2.2em;
    align-self: center;
    margin: 90px 0 0 0;
    }

    .title-wrapper h3 {
    font-size: 1.2em;
    align-self: center;
    color: #8b8b8b;
    }

    a.waves-effect.waves-light.btn-large.black {
    width: 100%;
    }

    .line-division{
        width: 100%;
        height: 1px;
        background: #8e858854;
        margin: 10px 0 30px 0;
    }

    h2.title-card-information{
    font-size: 1.9em;
    margin: 0;
    }

    h4.subtitle-card-information{
    font-size: small;
    line-height: 22px;
    }

    .title-section-links{
    font-size: 1.9em;
    }

    .subtitle-section-links {
    font-size: small;
     margin: 0; 
    }

}

