div.navBar-bg {
    background: url(assets/header.jpg) no-repeat;
    background-size: cover;
}

i.material-icons {
    background: #8e8588;
    color: #fff;
    border-radius: 4px;
    width: 7%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div ul.letter li a{
    color: #fff;
}

.nav-container {
    background-color: #fff;
    width: fit-content;
    height: auto;
}

.title-wrapper {
    display: flex;  
    flex-direction: column;
}


.title-wrapper h1 {
    align-self: center;
    margin: 0;
}
    
.title-wrapper h3  {
    align-self: center;
    color: #8e8588;
    font-size: 1.3em;
    margin: 0 0 32px 0;
}

.pc-wrapper {
    max-width: 60%;
    max-height: 49px;
    justify-content: center;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

nav ul.right a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1em;
    color: #8e8588;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav ul.right a:hover {
    color: #fff;
}



@media only screen and (min-width: 1024px) and (max-width: 1400px) {

    div.navBar-bg {
        background: url(assets/header.jpg) no-repeat;
        background-size: cover;
        padding-bottom: 110px;
        padding-top: 110px;
    }

} 



@media only screen and (max-width: 767px) {

    div.navBar-bg {
    background: url(assets/header.jpg) no-repeat;
    background-size: cover;
    }


    .title-wrapper h1 {
    font-size: 3em;
    align-self: center;
    margin: 90px 0 0 0;
    }
        
    .title-wrapper h3 {
    font-size: 1.7em;
    align-self: center;
    color: #8e8588;
    margin: 12px 0 207px;
    }

}

